.tc-input-group {

    @apply flex flex-col gap-2.5;

    .tc-input-group-label {
        @apply text-sm text-gray-500;

    }

    input {
        @apply text-base bg-gray-100 rounded-lg relative px-4 py-1.5;
    }
}

.tc-input {
    @apply text-base bg-gray-50 outline-transparent border-gray-100 focus:bg-gray-100 focus:outline-gray-400 border-2 rounded-lg relative px-4 py-2 placeholder:text-gray-400;
}

.tc-settings-input-group {
    @apply flex flex-col gap-2 w-full;

    &>input {
        @apply mt-1;
    }

    &>span:last-child {
        @apply text-sm text-gray-400;
    }
}