.tc-page-padding {
  @apply px-4 pt-navbar pb-12;
}

.tc-panel {
  @apply bg-white rounded-lg shadow-md outline-2 outline-white/50 overflow-hidden;
}

.tc-panel-header {
  @apply py-2 px-4 flex-none flex gap-4 items-center justify-between border-b border-gray-100 bg-gray-50;


}

.tc-panel-header-dense {
  @apply py-1 px-2;
}

input[type=number].tc-input-always-show-arrows::-webkit-inner-spin-button {
  opacity: 1
}

.tc-blurred-bg-element {
  @apply -mx-3 px-3 -my-2 py-2 rounded-full backdrop-blur-lg;
}