.tc-map-place-icon {
    @apply size-8 rounded-full overflow-hidden flex items-center justify-center;

    & > svg {
        @apply size-4;
    }
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
    @apply !mb-2 !mr-2 !px-2 !rounded-full backdrop-blur-lg;
}