@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-plex-sans), "Helvetica Neue", Arial, sans-serif;
  --font-mono: var(--font-plex-mono);
  --font-display: var(--font-platypi), var(--font-dm-sans);
  --font-label: var(--font-inter), "Helvetica Neue", Arial, sans-serif;

  --spacing-navbar: 4rem;
}

@import "./components/buttons.css";
@import "./components/layout.css";
@import "./components/animations.css";
@import "./components/map.css";
@import "./components/typography.css";
@import "./components/activity_list.css";
@import "./components/route_planner.css";
@import "./components/inputs.css";
@import "./components/map_controls.css";

body {
  @apply font-sans bg-[var(--page-bg-color)] text-gray-800;

  --bprogress-color: #000;
  --bprogress-box-shadow: none;

  scrollbar-width: thin;
}

/* width */
::-webkit-scrollbar {
  @apply w-2;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-full;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500;
}



button:focus, input:focus, textarea:focus {
  @apply outline-gray-200;
}

.tc-render-faster {
  image-rendering: optimizeSpeed;
}

.tc-scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.tc-scrollbar-hidden::-webkit-scrollbar {
  display: none;
}