@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-plex-sans), "Helvetica Neue", Arial, sans-serif;
  --font-mono: var(--font-plex-mono);
  --font-display: var(--font-dm-sans);
  --font-label: var(--font-inter), "Helvetica Neue", Arial, sans-serif;

  --spacing-navbar: 4rem;
}

@import "./components/buttons.css";
@import "./components/layout.css";
@import "./components/animations.css";
@import "./components/map.css";
@import "./components/typography.css";
@import "./components/activity_list.css";
@import "./components/route_planner.css";
@import "./components/inputs.css";
@import "./components/map_controls.css";

body {
  @apply font-sans bg-[#353535] text-black/80;
}

button:focus, input:focus, textarea:focus {
  @apply outline-gray-200;
}

.tc-render-faster {
  image-rendering: optimizeSpeed;
}

.tc-scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.tc-scrollbar-hidden::-webkit-scrollbar {
  display: none;
}